body.detail {
	background-color: $green;
}
main#detail {
	&.filter_closed {
		#left {
			left: -$filter-offset;
		}
		#center {
			margin-left: 0;
		}
	}


	#left {
		box-shadow: 0px 0px 4px 1px $shadow;
		background-color: $back;
		position: fixed;
		min-width: $filter-offset;
		width: $filter-offset;
		height: 100%;
		border-right: 1px solid $green;
		overflow-y: auto;

		header {
			margin-top: 50px;
		}
		#filters {
			ul.search_whisperer {
				position: absolute;
				z-index: 1;
				max-height: 150px;
				width: 76%;
				left: 13%;
				top: 30px;
				background-color: $green;
				color: $back;
				border-bottom: 5px solid $back;
				list-style: none;
				padding: 0;
				overflow-y: auto;
				box-sizing: border-box;
				li.whisper {
					padding: 5px 0;
					border-bottom: 1px solid $back;
					cursor: pointer;
				}
			}
		}
	}

	#center {
		text-align: left;
		margin-left: $filter-offset;

		#sort_bar {
			font-size: 15px;
			box-shadow: 0px 0px 4px 1px $shadow;
			background-color: $back;
			margin-left: 5px;
			width: calc(100% - 5px);
			padding: 15px 30px;
			position: fixed;
			z-index: 1;

			.sort_item {
				min-width: 10%;
				display: block;
				float: left;
			}
			span.sort_item {
				line-height: 34px;
				font-size: 20px;
				font-weight: bold;
				color: $green;
			}

			#sort_list {
				.sort_item {
					min-width: auto;
					button.btn {
						padding: 5px 15px;
						font-size: 16px;
						min-width: auto;
						margin-right: 10px;
						//width: 110px;
					}
				}
			}
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		ul#results_list {
			margin-top: 70px;
		}

		li.result {
			padding: 5px;
			transition: all .15s;
			>div.result_wrapper {
				//height: 117px;
				height: auto;
				overflow: hidden;
				box-shadow: 0px 0px 4px 1px $shadow;
				background-color: $back;
				.row {
					margin-top: 20px;
					margin-bottom: 20px;
				}

				.result_seg {
					.route_detail {
						span.from {
							font-size: 14px;
						}
						span.to {
							font-size: 18px;
						}
					}
					.route_price {
						span.price {
							font-size: 18px;
							font-weight: bold;
						}
					}
				}

				.route_add_info {
					margin-top: 40px;
				}
				.dest_from_to_row {
					.dotts {
						padding-left: 20px;
					}
				}

				.result_add {
					border-top: 1px solid $green;
					position: absolute;
					background-color: $back;
					width: calc(100% - 10px);
					z-index: 1;
					.route_back {
						.return_flight {
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}

//Loading rotation
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

#loading {
	text-align: center;
	padding-top: 300px;
	color: $back;
	i.fa {
		font-size: 150px;
	}
}

#no_flights {
	color: $back;
	text-align: center;
	padding-top: 300px;
	font-size: 30px;
}